@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.App {
  padding: 0;
  margin: 0;
}
body,
html {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
.hero h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #ffffff;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* NavBar CSS Start */

.logo {
  height: 94px;
  width: 110px;
}
.nav li .nav-link {
  text-decoration: none;
  color: #5c3f93;
}
.nav {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
}

/* NavBar CSS Ends */
/*  */
/* Buttons Styling start */
.btn-nav {
  background-color: #5c3f93;
  color: #ffffff;
}

.btnhro {
  background-color: #ffae02;
  color: #ffffff;
}
/* button styling ends */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* Sec 1 Start */
.note {
  height: 74px;
  border-radius: 10px;
  border: 1px solid #ffae021a;
  background: rgba(172, 0, 165, 0.42);
}
/* Sec 1 ends */
/* WHAT IS ETA Start */
.left-side {
  background: linear-gradient(
      0deg,
      rgba(172, 0, 165, 0.42),
      rgba(172, 0, 165, 0.42)
    ),
    linear-gradient(0deg, rgba(255, 174, 2, 0.1), rgba(255, 174, 2, 0.1));
}
/* WHAT IS ETA Ends */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    height: 800px;
  }
  nav form .btn {
    height: 55px;
    font-weight: 500;
  }
}
